@font-face {font-family: Greycliff; font-weight: 100; src: url(Greycliff\ CF\ Thin.ttf);}
@font-face {font-family: Greycliff; font-weight: normal; src: url(Greycliff\ CF\ Regular.ttf);}
@font-face {font-family: Greycliff; font-weight: bold; src: url(Greycliff\ CF\ Bold.ttf);}